<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalAttempt"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".admin_view_and_edit_Employee"
            android:exported="false" />
        <activity
            android:name=".admin_Main_Refresh"
            android:exported="false" />
        <activity
            android:name=".DateSelector"
            android:exported="false" />
        <activity
            android:name=".AddNewEmployeeAdmin"
            android:exported="false" />
        <activity
            android:name=".adminMainPage"
            android:exported="false" />
        <activity
            android:name=".Notificationsettings"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:exported="false"
            android:theme="@style/Theme.FinalAttempt" />
        <activity
            android:name=".RequestCheck"
            android:exported="false" />
        <activity
            android:name=".PreviousHolidays"
            android:exported="false" />
        <activity
            android:name=".HolidayCalender"
            android:exported="false" />
        <activity
            android:name=".HolidayMainPage"
            android:exported="false" />
        <activity
            android:name=".DetailsEditedConfirmation"
            android:exported="false" />
        <activity
            android:name=".EditDetails"
            android:exported="false" />
        <activity
            android:name=".ViewDetails"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".Manageholidaybookingsadmin"
            android:exported="false"/>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>